/* * {
    opacity: 0.4;
}  */

body {
    background: black;
    /* max-width: 100%; */
    /* margin: auto; */
    margin: 0;

}

h1 {
    color: #fff;
    margin: 10px;
    text-align: center;
}

.main-game {
    background: #111;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    transform: rotate(45deg);
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 5%;
    /* border: 1px solid #fff; */
    /* background: #666; */
    border-radius: 25%;
    width: 50vw;
    height: 50vw;
}

.blue {
    grid-area: azul;
    background: blue;
    border-bottom-right-radius: 50%;
    opacity: 0.5;
}

.yellow {
    grid-area: amarelo;
    background: yellow;
    border-bottom-left-radius: 50%;
    opacity: 0.5;
}

.red {
    grid-area: vermelho;
    background: red;
    border-top-right-radius: 50%;
    opacity: 0.5;
}

.green {
    grid-area: verde;
    background: green;
    border-top-left-radius: 50%;
    opacity: 0.5;
}

.selected {
    opacity: 1;
    
}